* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #e6e6e6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    margin-left: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 2rem 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    margin-bottom: 1rem;
    color: #ffcc00;
    text-align: center;
}

.avatar img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    image-rendering: pixelated;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    background: #444;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.skills-list img {
    width: 90px;
    height: 1020x;
    margin-left: 0.5rem;
}


.contact-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contact-list li {
    background: #444;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-list a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

.contact-list a:hover {
    background: #555;
}

.contact-list img {
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
}


.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: #222;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1 1 calc(33.333% - 2rem);
    color: #e6e6e6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Fuente pixelada */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}
